.main {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 180px;
    font-family: cursive;

}

.main h1{
    margin-top: 1px;
    margin-left: 47vw;
}

.link {
    margin-left: 30vw;
    padding-top: 15px;

}

.link img {

    margin-top: 4vh;
    margin-left: 5vw;
    width: 55px;
    margin: 0 25px;

}

.footer-copy {
    color: #fff;
    text-align: center;
    margin-left: 7vw;
}